In [50]:
! pip install indic-nlp-library --quiet
! pip install pyiwn --quiet

In [58]:
import pyiwn 
import random
import nltk
import pandas as pd
from indicnlp.tokenize import indic_tokenize
iwn = pyiwn.IndoWordNet(lang=pyiwn.Language.HINDI)

In [52]:
def get_synonyms(word):
    #Get synonyms of word in the specified language.
    synonyms=[]
    try:
      all_synsets = iwn.synsets(word)
    except:
      return []
    for synset in all_synsets:
        lemmas = synset.lemma_names()
        for lemma in lemmas:
            if lemma != word:
                synonyms.append(lemma)
    return synonyms

In [56]:
def random_insertion(text, n=3):
    #Randomly insert n synonymous words into text.
    tokens = indic_tokenize.trivial_tokenize(text)
    for _ in range(n):
        random_index = random.randint(0, len(tokens)-1)
        random_word = tokens[random_index]
        synonyms = get_synonyms(random_word)
        # print(synonyms)
        if len(synonyms) > 1:
            random_synonym = random.choice(synonyms)
            while random_synonym == random_word:
                random_synonym = random.choice(synonyms)
            tokens[random_index] = random_synonym
    return ' '.join(tokens)

In [55]:
# random_insertion("लगभग 1300 हेक्टेयर ज़मीन का अधिग्रहण किया जा",random.randint(0,len(sentence)))

'लगभग 1300 हैक्टर जगद्वहा का अधिग्रहण किया जा'

In [60]:
# Read input CSV file as DataFrame
df = pd.read_csv('/content/drive/MyDrive/NLP/data/clean-hindi-train.csv')
df.head()

   label                                               text
0      1  मेट्रो की इस लाइन के चलने से दक्षिणी दिल्ली से...
1      1  प्रतीक खुलेपन का आज़ाद ख्याली का और भीड़ से अल...
2      1  ख़ासकर पिछले 10 साल तक प्रधानमंत्री रहे मनमोहन...
3      1  चीनी भाषा में ‘नीहाव’ (क्या हाल हैं) कहकर वो अ...
4      1  मुंबई पुलिस की क्राईम ब्रांच को इस जांच का जिम...

In [ ]:
dfaug = df
dfaug['text'] = dfaug['text'].apply(lambda x: random_insertion(x, random.randint(0,len(x))))

In [ ]:
# Write updated DataFrame to output CSV file
df = df + dfaug
df.to_csv('RandomInsertionAugData.csv', index=False)