In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
!pip install indic-nlp-library --quiet
!pip install pyiwn --quiet

In [ ]:
import pyiwn 
import random
import nltk
import pandas as pd
from indicnlp.tokenize import indic_tokenize
iwn = pyiwn.IndoWordNet(lang = pyiwn.Language.KANNADA)

In [ ]:
def get_synonyms(word):
    #Get synonyms of word in the specified language.
    synonyms=[]
    try:
      all_synsets = iwn.synsets(word)
    except:
      return []
    for synset in all_synsets:
        lemmas = synset.lemma_names()
        for lemma in lemmas:
            if lemma != word:
                synonyms.append(lemma)
    return synonyms

In [ ]:
def random_insertion(text, n=3):
    #Randomly insert n synonymous words into text.
    tokens = indic_tokenize.trivial_tokenize(text)
    for _ in range(n):
        random_index = random.randint(0, len(tokens)-1)
        random_word = tokens[random_index]
        synonyms = get_synonyms(random_word)
        if len(synonyms) > 1:
            random_synonym = random.choice(synonyms)
            while random_synonym == random_word:
                random_synonym = random.choice(synonyms)
            tokens[random_index] = random_synonym
    return ' '.join(tokens)

In [ ]:
# Read input CSV file as DataFrame
df = pd.read_csv('/content/drive/MyDrive/SEM6/NLP/Project/data/clean_train.csv')
df.head()

                                            headline  label
0  CWG18 ಕುಸ್ತಿಯಲ್ಲಿ ಚಿನ್ನಗಳಿಸಿದ ರಾಹುಲ್ ಅವಾರೆ ಸುಶ...      1
1  ಏಷ್ಯಾ ಕಪ್ 2018 ಪಾಕ್ ವಿರುದ್ಧ ಘರ್ಜಿಸಲು ರೋಹಿತ್ ಸೈ...      1
2          ಸಮಂತಾ ವಿಷಯದಲ್ಲಿ ಯೂ ಟರ್ನ್ ಹೊಡೆದ ನಾಗ ಚೈತನ್ಯ      0
3   ಐಶ್ ಬೇಬಿ ಸೌಂದರ್ಯದ ಗುಟ್ಟು ರಟ್ಟು 40 ದಾಟಿದರೂ ಹಾಟ...      0
4  ಟೀಂ ಇಂಡಿಯಾ ಆಯ್ಕೆ ಸಮಿತಿ ಸದಸ್ಯರ ಸಂಭಾವನೆ ಎಷ್ಟು ಗೊ...      1

In [ ]:
dfaug = df
dfaug['headline'] = dfaug['headline'].apply(lambda x: random_insertion(x, random.randint(0, len(x))))

In [ ]:
len(dfaug)

5167

In [ ]:
# Write updated DataFrame to output CSV file
df = df.append(dfaug, ignore_index = True)
df.to_csv('/content/drive/MyDrive/SEM6/NLP/Project/data/randominsertion_train.csv', index = False)

<ipython-input-18-95f7ef6420e8>:2: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(dfaug, ignore_index = True)