In [ ]:
# connecting to google drive
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
# installing dependencies
!pip install indic-transliteration --quiet

     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 143.3/143.3 kB 6.0 MB/s eta 0:00:00

In [ ]:
# importing the required libraries
from indic_transliteration import sanscript
import random
import pandas as pd

In [ ]:
# reading the training dataset
train_df = pd.read_csv('/content/drive/MyDrive/NLP/data/clean-hindi-train.csv')
train_df = train_df[train_df.text.notnull()]
train_df.head()

   label                                               text
0      1  मेट्रो की इस लाइन के चलने से दक्षिणी दिल्ली से...
1      1  प्रतीक खुलेपन का आज़ाद ख्याली का और भीड़ से अल...
2      1  ख़ासकर पिछले 10 साल तक प्रधानमंत्री रहे मनमोहन...
3      1  चीनी भाषा में ‘नीहाव’ (क्या हाल हैं) कहकर वो अ...
4      1  मुंबई पुलिस की क्राईम ब्रांच को इस जांच का जिम...

In [ ]:
# size of training set before augmentation
len(train_df)

2578

In [ ]:
# defining the function for modification of sentences
def modify_hindi_sentence(devanagari_sentence):
    #devanagari_sentence = sanscript.transliterate(sentence, sanscript.HINDI, sanscript.DEVANAGARI)
    devanagari_words = devanagari_sentence.split()
    random.shuffle(devanagari_words)
    modified_devanagari_sentence = ' '.join(devanagari_words)
    modified_hindi_sentence = sanscript.transliterate(modified_devanagari_sentence, sanscript.DEVANAGARI, sanscript.HINDI)
    return modified_hindi_sentence

In [ ]:
for index, row in train_df.iterrows():
  modified_sentence = modify_hindi_sentence(row['text'])
  train_df.loc[len(train_df.index)] = [modified_sentence, row['label']]

AttributeError: ignored

In [ ]:
# size of training set after augmentation
len(train_df)

10334

In [ ]:
train_df.head()

                                            headline  label
0  CWG18 ಕುಸ್ತಿಯಲ್ಲಿ ಚಿನ್ನಗಳಿಸಿದ ರಾಹುಲ್ ಅವಾರೆ ಸುಶ...      1
1  ಏಷ್ಯಾ ಕಪ್ 2018 ಪಾಕ್ ವಿರುದ್ಧ ಘರ್ಜಿಸಲು ರೋಹಿತ್ ಸೈ...      1
2          ಸಮಂತಾ ವಿಷಯದಲ್ಲಿ ಯೂ ಟರ್ನ್ ಹೊಡೆದ ನಾಗ ಚೈತನ್ಯ      0
3   ಐಶ್ ಬೇಬಿ ಸೌಂದರ್ಯದ ಗುಟ್ಟು ರಟ್ಟು 40 ದಾಟಿದರೂ ಹಾಟ...      0
4  ಟೀಂ ಇಂಡಿಯಾ ಆಯ್ಕೆ ಸಮಿತಿ ಸದಸ್ಯರ ಸಂಭಾವನೆ ಎಷ್ಟು ಗೊ...      1

In [ ]:
train_df.iloc[5167]

headline    ಕುಮಾರ್ ಚಿನ್ನಗಳಿಸಿದ ಕುಸ್ತಿಯಲ್ಲಿ CWG18 ಅವಾರೆ ರಾಹ...
label                                                       1
Name: 5167, dtype: object

In [ ]:
train_df = train_df.sample(frac = 1, ignore_index = True)
train_df.head()

                                            headline  label
0  ರಣಜಿ ಟ್ರೋಫಿ ಕರ್ನಾಟಕ 389 ಆಲೌಟ್ ಗುಜರಾತ್ಗೆ 14 ರನ್...      1
1  ಅವರದ್ದೇ ಜಾವಾ ಹೊಸ ಡಾ ಪ್ರಚಾರದಲ್ಲೂ ಬೈಕ್ ರಾಜ್ಕುಮಾರ...      0
2  11 ವರ್ಷಗಳ ಬಳಿಕ ಪಾಕಿಸ್ತಾನಕ್ಕೆ ಕಾಲಿಡಲಿದ್ದಾರೆ ಎಬಿ...      1
3          ವರ್ಷದ ಸಾಹಿತ್ಯ ಕನ್ನಡಿಗ ವಿವರ ಸಾಧಕರ ಕ್ಷೇತ್ರದ      0
4             ಕೊಹ್ಲಿ ಮೆಕಲಮ್ ಮತ್ತು ಚಹಲ್ ಡ್ಯಾನ್ಸ್ ನೋಡಿ      1

In [ ]:
# writing the augmented result to a csv file
train_df.to_csv('/content/drive/MyDrive/SEM6/NLP/Project/data/shuffletrasliteration_train.csv', index = False)